
@import url(https://fonts.googleapis.com/css?family=Merriweather:900,400,700,300);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700);

body {
	padding: 0;
	margin: 0;
	font-family: "Merriweather", serif;
}

header {
	padding: 5px 0 5px 20px;
	text-align: left;
	line-height: 5px;
}

nav {
	background-color: #666666;
	font-family: 'Merriweather Sans', sans-serif;
}

section.member_images {
	padding: 0 10px 10px 0;
	margin: 0;
	background-color: #FFB10D;
	width: 70%;
	float: left;
	font-family: 'Merriweather San', sans-serif;
	font-size: .85em;
}

section.information {
	padding: 0 20px; 
	background-color: #eeeeee;
	width: 26%;
	float: left;
}

section.member_spotlight {
	padding: 10px 20px;
	margin: 0;
	background-color: #000000;
	width: 64%;
	float: right;
	color: #ffffff;
}

aside.assignments {
	padding: 10px 20px;
	margin: 0;
	background-color: #dddddd;
	width: 30%;
	clear: left;
	float: left;
}

figure {
 	margin: 0;
 	float: left;
	font-family: 'Merriweather San', sans-serif;
	text-align: right;
}

footer {
	padding: 5px;
	background-color: #666666;
	clear: left;
	font-family: 'Merriweather Sans', sans-serif;
	color: white;
	text-align: center;
	clear: left;
}

#wrapper {
	 width: 100%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.news_title {
	font-weight: 700;
}

h1.logo {
	font-size: 3em;
	color: #333333;
}

h2 {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	color: #333333; 
}

h4.tagline {
	font-style: italic;
	letter-spacing: 0.04em;
	color: #666666;
}

p {
	font-size: 12px;
}

p.quote {
	font-style: italic;
}

td {
	padding-right: 15px;
}

td.right-align{
	text-align: right;
}

a {
	text-decoration: none;
	color: orange;
	font-size: 12px;
}

a.primary {
	padding: 5px 25px 5px 25px;
	background-color: #666666;
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	display: block;
	float: left;
}

a.primary:hover {
	background-color: #FFBF5D;
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #333333;
}

/* 

What is the preferred method for setting the width of the page in the wrapper?

I can't get borders to display for any element? 

What is the order for listing selectors in the stylesheet? 

If padding adds space around an element, and margin adds space between elements,
is there a preference as to which one should be used to position objects on the
page? 

What is the preferred method for setting the width of columns?  Pixels or %?

If % is 'fluid', how do you do the math? 70% + 30% = 100% doesn't work if your 
columns have padding... Seems like trial and error...  e.g. 70% + 26%? or 70 + 27%? 

Can we review the properties in clearfix - I don't really understand what it's 
doing?  

Will the clearfix properties/values always be the same for this fix? 

I seem to need margin: 0; on <figure> even though I put margin: 0; on
section.member_images - I though <figure> would inherit the property from
the section/class selector? 

If the content in the section on the right was going to be significantly
longer than the hero image to the left of it, what is the preferred method for
handling that?

Is using letter spacing on <h4.tagline> to make it the same width as the 
<h1> text bad practice?

I imported Merriweather and Merriweather Sans fonts from Google.  The default 
font sizes seemed really big - can we review ems and font-sizing? */