
@import url(https://fonts.googleapis.com/css?family=Merriweather:900,400,700,300);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700);

/*	I can't seem to get borders to display for any element that I try to put them? */

body {
	padding: 0;
	margin: 0;
	font-family: 'Merriweather', serif;
}

/*	If padding adds space around an element, and margin adds space between elements,
is there a preference as to which one should be used to position objects on the
page? */
header {
	padding: 5px 0 5px 20px;
	text-align: left;
	line-height: 5px;
}

nav {
	background-color: #666666;
	font-family: 'Merriweather Sans', sans-serif;
}

/*	1) What is the preferred method for setting the width of columns or containers?  Pixels or %?

	2) If % is 'fluid', how do you do the math? 70% + 30% = 100% doesn't work if your 
	columns have padding... Seems like trial and error...  e.g. 70% + 26%? or 70 + 27%? 

	3) When does float right simply float an element to the right versus when it 
	changes the order in which elements appear? */

figure {
	padding: 0 10px 10px 0;
	margin: 0;
	border-right: 5px;
	background-color: #FFB10D;
	width: 70%;
	float: left;
	font-family: 'Merriweather San', sans-serif;
	font-size: .85em;
}

figcaption {
	padding-left: 5px;
}

footer {
	padding: 5px;
	background-color: #666666;
	clear: left;
	font-family: 'Merriweather Sans', sans-serif;
	color: white;
	text-align: center;
	clear: both;
}

/*	1) Can we review the properties in clearfix - I don't really understand what each of this properties is doing? 

	2) Will the clearfix properties/values always be the same for this fix?*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.primary {
	padding: 5px 25px 5px 25px;
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	float: left;
}

.primary:hover {
	background-color: #FFBF5D;
	color: #ffffff;
	text-decoration: none;
}

/*	1) I seem to be missing the fix for how to make the background color in the club-info class fill the container?

	2) If the content in this section was going to be significantly longer than the image to the left of it, what is the preferred method for
	handling that - I wouldn't want a lot of empty space under the image */

.club-info {
	padding: 0 20px; 
	background-color: #eeeeee;
	width: 26%;
	float: left;
}

.news-title {
	font-weight: 700;
}

.assignments {
	padding: 10px 20px;
	margin: 0;
	background-color: #dddddd;
	width: 30%;
	clear: left;
	float: left;
}

.member-spotlight {
	padding: 10px 20px;
	margin: 0;
	background-color: #000000;
	width: 64%;
	float: right;
	color: #ffffff;
}

.right-align{
	text-align: right;
}

.quote {
	font-style: italic;
}


/*	What is the preferred method for setting the width of the page in the wrapper? pixels or percents? */
#wrapper {
	 width: 100%;
}

#club-name {
	font-size: 3em;
	color: #333333;
}

/*	Is using letter spacing on this class to make this text the same width as the <h1> text bad practice? */
#tagline {
	font-style: italic;
	letter-spacing: 0.04em;
	color: #666666;
}

h2 {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	color: #333333; 
}

/* 1) I imported Merriweather and Merriweather Sans fonts from Google.  The default 
font sizes seemed really big - can we review ems and font-sizing - I'm using a mix of both pixels 
and ems and that's probably not a good idea? */
p {
	font-size: 12px;
}

td {
	padding-right: 15px;
}

a {
	text-decoration: none;
	color: orange;
	font-size: 12px;
}

a:hover {
	color: #333333;
}





