/* color palette:
	#225378 blue
	#1695A3 teal
	#ACF0F2 light teal
	#EB7F00 orange
	#EBA600 lt orange
*/

@import url(https://fonts.googleapis.com/css?family=Merriweather:900,400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

header {
	padding: 15px 0 15px 20px;
	text-align: left;
}

nav {
	background-color: #EB7F00;
}

aside {
	margin: 2.5%;
	padding: 20px;
	width: 30%;
	/*background-color: #ACF0F2;*/
	float: left;
}

article {
	margin: 2.5% 0 1% 0 ;
	width: 40%;
	float: left;
}

figure {
	border: 1px solid #000;
	background-color: #000;
}

figcaption {
	color: #FFF;
	font-size: .75em;
	padding: 2px;
}

footer {
	padding: 10px;
	background-color: #EB7F00;
	clear: both;
	font-size: .85em;
	color: #fff;
	text-align: center;
}


/* ------- Text Styles -------- */
.bold {
	font-weight: 600;
}

.italic {
	font-style: italic;
}

.tagline {
	font-style: italic;
	letter-spacing: 0.15em;
	color: #1695A3;
}


/* ------- White Text On Dark Backgrounds -------- */
.bluebg {
	color: #fff;
}

.tealbg {
	background-color: #ACF0F2;
	color: #225378;
}


/* ------- Content Blocks -------- */

.smblock {
    margin: 2.5%;
    padding: 20px;
    width: 20%;
    background-color: #225378;
    color: white;
    font-size: .90em;
    float: left;
}

.mdblock {
    margin: 1.66%;
    padding: 20px;
    width: 30%;
    height: 260px;
    background-color: #225378;
    color: white;
    font-size: .90em;
    float: left;
}

.lgblock {
    margin: 2.5%;
    padding: 20px;
    width: 60%;
  /*  background-color: #225378;
    color: white;*/
    font-size: .90em;
    float: left;
}


/* -------- Image Styles ------- */
.hero {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 375px;
	overflow: hidden;
}


/* ------- Float and Clear ------- */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


/* ------- Tabular Data ------- */
.label {
	padding: 5px;
	float: left;
	width: 25%;
	text-align: right;
	font-weight: 700;
}

.value {
	padding: 5px;
	float: left;
	width: 75%
}

/* ------- Navigation ------- */
.nav {
	padding: 5px 25px 5px 20px;
	color: #FFF;
	text-decoration: none;
	float: left;
}

.nav:hover {
	background-color: #225378;
	color: #fff;
	text-decoration: none;
}

.nav-selected {
	padding: 5px 25px 5px 20px;
	background-color: #225378;
	color: #fff;
	text-decoration: none;
	float: left;
}



/* ------ Other ------ */

#wrapper {
	 width: 100%;
}

a {
	text-decoration: none;
	color: #EB7F00;
}

a.bluebg {
	color: #ACF0F2;
}

a:hover {
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
}

h1 {
	font-size: 3.5em;
	color: #225378;
}

h2 {
	font-size: 2em;
	color: #225378;
}

h2, h3, h4 {
	padding-bottom: 15px;
}

hr {
	padding: 0;
	margin: auto;
	border: none;
    border-top: medium double #EB7F00;
	width: 98%;
}


p {
	line-height: 1.5em;
	padding-bottom: 1em;
}

ul {
	list-style-position: inside;
    padding: 0 0 .5em 1em;
    text-indent: -1em;
}

li {
	padding: .20em;
}

li.unstyled {
	padding: .20em;
	list-style-type: none;
}

img {
	max-width: 100%;
}





