/* color palette:
	#225378 blue
	#1695A3 teal
	#ACF0F2 light teal
	#EB7F00 orange
	#EBA600 lt orange
*/

@import url(https://fonts.googleapis.com/css?family=Merriweather:900,400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

header {
	padding: 15px 0 15px 20px;
	text-align: left;
}

nav {
	background-color: #EB7F00;
}

/*section {
	clear: both;
}*/

aside {
	margin: 1.66%;
	padding: 20px;
	width: 30%;
	float: left;
}

article {
	margin: 0.5% 1.66%;
	width: 40%;
	padding: 20px;
	float: left;
}

figure {
	background-color: #000;
}

figcaption {
	color: #FFF;
	font-size: .75em;
	padding-left: 3px;
}

footer {
	padding: 10px;
	background-color: #EB7F00;
	clear: both;
	font-size: .85em;
	color: #fff;
	text-align: center;
}

/* Is there a best practice for listing classes? Should they be in some kind of
order? I grouped them by function and added comments to the groups? */


/* ------- Text Styles -------- */
.bold {
	font-weight: 600;
}

.center {
	text-align: center;
}

.italic {
	font-style: italic;
}

.padding {
	padding: 5px;
}

.tagline {
	font-style: italic;
	letter-spacing: 0.15em;
	color: #1695A3;
}


/* ------- Backgrounds -------- */
.bluebg {
	background-color: #225378;
	color: #fff;
}

.blackbg {
	background-color: #000;
	color: #fff;
}

.dktealbg {
	background-color: #1695A3;
	color: #225378;
}

.tealbg {
	background-color: #ACF0F2;
	color: #225378;
}

.orangebg {
	background-color: #EBA600;
	color: #225378;
}


/* ------- Content Blocks -------- */

.smblock {
    margin: 1.66%;
    padding: 20px;
    width: 20%;
    background-color: #225378;
    color: white;
    font-size: .90em;
    float: left;
}

/*.mdblock {
	margin: 2%;
	padding: 20px;
	width: 62%;
}

.lgblock {
	margin: 1%;
	padding: 15px;
	width: 64.67%;
}
*/


/* -------- Image Styles ------- */
.hero {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 375px;
	overflow: hidden;
}


/* ------- Float and Clear ------- */
.clear {
	clear: both;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.fltleft {
	float: left;	
}

.fltright {
	float: right;
}


/* ------- Tabular Data ------- */
.label {
	padding: 5px;
	float: left;
	width: 25%;
	text-align: right;
}

.value {
	padding: 5px;
	float: left;
	width: 75%
}

/* ------- Navigation ------- */
.nav {
	padding: 5px 25px 5px 20px;
	color: #FFF;
	text-decoration: none;
	float: left;
}

.nav:hover {
	background-color: #225378;
	color: #fff;
	text-decoration: none;
}

.nav-selected {
	padding: 5px 25px 5px 20px;
	background-color: #225378;
	color: #fff;
	text-decoration: none;
	float: left;
}



/* ------ Other ------ */

#wrapper {
	 width: 100%;
}

a {
	text-decoration: none;
	color: #EB7F00;
}

a.bluebg {
	color: #ACF0F2;
}

a:hover {
	color: #333;
}

h1, h2, h3, h4 {
	font-family: 'Merriweather', serif;
}

h1 {
	font-size: 3.5em;
	color: #225378;
}

h2 {
	font-size: 2em;
	color: #225378;
}

h2, h3, h4 {
	padding-bottom: 15px;
}

hr {
	margin: auto;
	margin-bottom: 2px;
	border: none;
	width: 98%;
	height: .25em;
	background-color: #EB7F00;
}


p {
	line-height: 1.5em;
	padding-bottom: 1em;
}

ul {
	list-style-position: inside;
    padding: 0 0 .5em 1em;
    text-indent: -1em;
}

li {
	padding: .20em;
}

li.unstyled {
	padding: .20em;
	list-style-type: none;
}

img {
	max-width: 100%;
}





