
@import url(https://fonts.googleapis.com/css?family=Merriweather:900,400,700,300);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700);

body {
	padding: 0px;
	margin: 0px;
	font-family: "Merriweather", serif;
}

header {
	padding-left: 10px;
	background-color: #333333;
	width: 100%;
	/* I don't understand why I seem to need this float but if I comment it out,
	I get about 20 pixels of white space above the header...  Is it because
	I'm using floats in other selectors so now every element needs to specify
	a float behavior? */
	float: left;
	font-family: 'Merriweather Sans', sans-serif;
	line-height: 5px;
}

nav {
	padding: 5px 20px 5px 5px;
	background-color: #666666;
	clear: left;
	font-family: 'Merriweather Sans', sans-serif;
	color: #ffffff;
	text-align: right;
	word-spacing: 10px;

}

section.benefits {
	padding: 10px;
	background-image: url("../images/antique_camera_opaque.jpg");
	width: 35%;
	height: 350px;
	float: left;
	clear: left;
	font-size: 1.2em;
}

section.calendar {
	padding: 10px;
	width: 35%;
	height: 350px;
	float: left;	
	/* I put this overflow in mainly to see what it did - what's the preferred method for 
	displaying content in a column that is significantly longer that text in an adjacent
	column? */
	overflow: auto;
}

aside {
	padding: 10px;
	background-color: #eeeeee;
	width: 26%;
	height: 350px;
	float: left;
}

footer {
	padding: 10px;
	background-color: #333333;
	clear: left;
	font-family: 'Merriweather Sans', sans-serif;
	color: white;
	text-align: center;
	clear: left;
}

.section_title {
	font-weight: 900;
}

h1.logo {
	font-size: 3em;
	font-weight: 700;
	color: #ffffff;
}

h2 {
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 400;
	color: #666666; 
}

h4.tagline {
	font-style: italic;
	/* Is using the letter spacing to try to get the width of the tagline
	to match the width of the "logo" bad design? */
	letter-spacing: 0.04em;
	line-height: 10px;
	color: #666666;
}

p, ul {
	font-size: 0.85em;
}

img {
	padding: 10px;
	float: right;
}

a:link {
	color: orange;
	text-decoration: none;
}

a:visited {
	color: purple;
	text-decoration: none;
}

a:hover {
	color: #cccccc;
	text-decoration: none;
}

