/* color palette:
	#1A212C blue
	#1D7872 teal
	#71B095 light teal
	#DEDBA7 sand
	#D13F32 rust
*/

@import url(https://fonts.googleapis.com/css?family=Merriweather:900,400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

body {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

article {
    margin: 2%;
    width: 54%;
    float: left;
}

aside {
    margin: 2%;
    padding: 1em;
    width: 38%;
    background-color: #DEDBA7;
    color: #1A212C;
    float: left;
}

aside h2 {
	color: #1A212C;
}

aside h3 {
	color: #1A212C;
}


aside a {
    color: #D13F32;
    display: block;
}

aside a:hover {
    color: #1D7872;
    display: block;
}

figure {
	float: left;
}

figcaption {
	padding: .5em;
	background-color:rgba(0,0,0,.50);
	color: #FFF;
	font-size: .75em;
	position:absolute;
	top:0;
	left:0;
}

figcaption.hero {
	top:30em;
}

footer {
	padding: .5em;
	background-color: #1A212C;
	clear: both;
	font-size: .85em;
	color: #fff;
	text-align: center;
}

header {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background: #1A212C;
}

header h1 {
	font-size: 3.5em;
	color: #1D7872;
}

header h4 {
	font-style: italic;
	font-size: 1em;
	letter-spacing: 0.15em;
	color: #71B095;
}

nav {
	padding: .1em 1em;
	background-color: #1D7872;
	text-align: center;
}

nav a {
	padding: .1em 1em;
	color: #1A212C;
	text-decoration: none;
}

nav a:hover {
	color: #71B095;
}

section {
    margin: 1% auto;
    width: 85%;
}

.active {
	padding: .1em 1em;
	color: #FFF;
}

.bold {
	font-weight: 600;
}

.cal-nav {
	padding: 0 1.7em 0 0;
    width: 100%;
    color: #d13f32;
}

.caption {
	position:relative;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.date {
	padding-top: .15em;
	width: 10%;
	height: 3.3em;
	text-align: center;
	font-weight: 300;
	background-color: #71B095;
	border-radius: 15%;
	float: left;
}

.event {
	padding-left: 1.5em;
	float: left;
	width: 90%
}

.hero {
	height: 24em;
    overflow: hidden;
}

.horz-nav {
	padding: .2em .8em;
	width: 100%;
	background-color: #EBA600;
	color: #FFF;
}

.horz-nav-disab {
	padding: .2em .5em;
	pointer-events: none;
	color: #999;
}

.italic {
	font-style: italic;
}

.label {
    width: 30%;
    font-weight: 700;
    float: left;
}

.value {
	float: left;
	width: 70%
}

#wrapper {
	 width: 100%;
}

a {
	text-decoration: none;
	color: #D13F32;
}

a.bluebg {
	color: #ACF0F2;
}


a:hover {
	color: #1D7872;
}

div.event {
	min-height: 5em;
}

h1 {
	font-family: 'Merriweather', serif;
}

h2 {
	font-size: 2em;
	font-weight:400;
}

h3 {
	font-size: 1.5em;
	font-weight:400;
}

h2, h3, h4 {
	padding-bottom: .50em;
	color: #1D7872;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

img {
	width: 100%;
}

p {
	line-height: 1.5em;
	padding-bottom: 1em;
}

ul, ol {
	padding-left: 2em;
    padding-bottom: 1em;
    text-indent: 0;
}

ul.calendar {
    padding: .5em;
}

li {
	padding: .4em;
}

li.calendar {
	display: inline;
}

@media only screen and (max-width: 1040px) {
	article {
		margin:2% auto;
		width: 96%;
		float: none;
		clear: both;
	}

	aside {
		margin:2% auto;
		width: 96%;
		float: none;
		clear: both;
	}

	figure {
		width: 100%;
		float: none;
		clear: both;
	}
}

@media only screen and (max-width: 815px) {
	nav a {
		margin:auto;
		display: block;
		text-align: center;
	}

	.active {
		color: #FFF;
	}
}

@media only screen and (max-width: 660px) {
	body {
		font-size: 14px;
	}

}

@media only screen and (max-width: 585px) {
	header h1 {
	font-size: 2.5em;
	color: #1D7872;
	text-align: center;
	}

	header h4 {
	display: none;
	}
}






