/* color palette:
	#1A212C blue
	#1D7872 teal
	#71B095 light teal
	#DEDBA7 sand
	#D13F32 rust
*/

@import url(https://fonts.googleapis.com/css?family=Merriweather:900,400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

article {
    margin: 2%;
    width: 50%;
    float: left;
}

aside {
    margin: 2%;
    padding: 1em;
    width: 40%;
    background-color: #F2EFDC;
    color: #1A212C;
    float: left;
}

figure {
	position: relative;
}

figcaption {
	padding: .5em;
	background-color:rgba(0,0,0,.40);
	color: #CCC;
	font-size: .75em;
	position:absolute;
	top:0;
	left:0;
}

figcaption.hero {
	top: 32em;
    left: 0em;
}

footer {
	padding: .5em;
	background-color: #1A212C;
	clear: both;
	font-size: .85em;
	color: #fff;
	text-align: center;
}

footer p {
	width: 50em;
	margin:auto;
}

header {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background: #363636;
}

header h1 {
	font-size: 3.5em;
	color: #F2EFDC;
}

header h4 {
	font-style: italic;
	font-size: 1em;
	letter-spacing: 0.15em;
	color: #B8B5A7;
}

nav {
	padding: .75em 2em;
	background-color: #037E8C;
	text-align: center;
}

nav a {
	padding: .1em 2em;
	color: #024959;
	text-decoration: none;
}

nav a:hover {
	color: #04A5B8;
}

section {
    margin: 1% auto;
    width: 85%;
}

.active {
	padding: .1em 2em;
	color: #CCC;
}

.bold {
	font-weight: 600;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.date {
	padding-top: .15em;
	width: 10%;
	height: 3.3em;
	text-align: center;
	font-weight: 300;
	background-color: #037E8C;
	color: #FFF;
	border-radius: 15%;
	float: left;
}

.event {
	padding-left: 1.5em;
	float: left;
	width: 90%
}

.hero {
	height: 26em;
    overflow: hidden;
}

.h-nav {
	padding: 0 1em 1em 0;
    width: 100%;
    color: #d13f32;
}

.h-nav-disab {
	padding: 0 1em 0 0;
    width: 100%;
    color: #CCC;
    pointer-events: none;
}

.italic {
	font-style: italic;
}

.label {
    width: 30%;
    font-weight: 700;
    float: left;
}

.new-line {
	display: block;
}

.value {
	float: left;
	width: 70%
}

#wrapper {
	 max-width: 1300px;
	 margin:auto;

}

a {
	text-decoration: none;
	font-weight: 600;
	color: #E74C30;
}

a:hover {
	color: #037E8C;
}

/*div.event {
	min-height: 5em;
}*/

h1 {
	font-family: 'Merriweather', serif;
}

h2 {
	font-size: 2em;
	font-weight:400;
}

h3 {
	font-size: 1.5em;
	font-weight:400;
}

h3.inline-rule {
    width: 100%;
    border-bottom: .05em solid #1D7872;
    line-height: 0.4em;
    margin: 1em 0 .5em;
}

h2, h3 {
	padding-bottom: .50em;
	color: #024959;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

img {
	width: 100%;
}

p {
	line-height: 1.5em;
	padding-bottom: 1em;
}

ul, ol {
	padding-left: 2em;
    padding-bottom: 1em;
    text-indent: 0;
}

ul.calendar {
    padding: .5em;
}

li {
	padding: .4em;
}

li.calendar {
	display: inline;
}

@media only screen and (max-width: 1040px) {
	section {
    	padding-bottom:1em;
    }
	article {
		margin:2% auto;
		width: 96%;
		float: none;
		clear: both;
	}

	aside {
		margin:2% auto;
		width: 96%;
		float: none;
		clear: both;
	}

	figure {
		width: 100%;
		float: none;
		clear: both;
	}
}

@media only screen and (max-width: 815px) {
	nav a {
		margin:auto;
		display: block;
		text-align: center;
	}

	.active {
		color: #FFF;
	}
}

@media only screen and (max-width: 660px) {
	body {
		font-size: 14px;
	}

}

@media only screen and (max-width: 585px) {
	header h1 {
	font-size: 2.5em;
	color: #1D7872;
	text-align: center;
	}

	h2 {
		font-size: 1.75em;
	}

	header h4 {
	display: none;
	}
}

@media only screen and (min-width: 320) and (max-width: 520) {
	.date {
		width: 15%;
	}

	.event {
		width: 85%
	}
}





