/* color palette:
	#225378 blue
	#1695A3 teal
	#ACF0F2 light teal
	#EB7F00 orange
	#EBA600 lt orange
*/

@import url(https://fonts.googleapis.com/css?family=Merriweather:900,400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,400,300);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

body {
	/*margin: auto;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

/*article {
	margin: 0 5%;
	width: 45%;
	float: left;
}*/

article {
    margin: 2%;
    width: 54%;
    float: left;
}

/*aside {
	margin: 0 5%;
    padding: 1em;
    width: 35%;
    background-color: #333;
    color: #FFF;
    float: left;
}*/

aside {
    margin: 2%;
    padding: 1em;
    width: 38%;
    background-color: #333;
    color: #CCC;
    float: left;
}

aside h2 {
	color: #CCC;
}

aside h3 {
	color: #CCC;
}

aside a {
    color: #EBA600;
    display: block;
}

aside a:hover {
    color: #EB7F00;
    display: block;
}

figure {
	float: left;
}

figcaption {
	background-color:#000;
	color: #FFF;
	font-size: .75em;
	padding: .5em;
	position:absolute;
	top:0;
	right:0;
}

footer {
	padding: 1em;
	background-color: #EB7F00;
	clear: both;
	font-size: .85em;
	color: #fff;
	text-align: center;
}

header {
	padding-top: 1em;
    padding-left: 1em;
    text-align: left;
}

header h1 {
	font-size: 3.5em;
	color: #225378;
}

header h4 {
	font-style: italic;
	font-size: 1em;
	letter-spacing: 0.14em;
	color: #1695A3;
}

nav {
	padding-top: 1.75em;
	width: 16%;
	height: 375px;
	float: left;
	background-color: #225378;
}

nav a {
	padding:.75em;
	color: #FFF;
	text-decoration: none;
	display: block;
}

nav a:hover {
	background-color: #225378;
	color: #ACF0F2;
}

/*section {
	padding: 1em 0;
}*/

section {
    margin: 1% auto;
    width: 85%;
    /*padding: 1em 0;*/
}

/*section.full-width {
	width:100%;
}*/

.active {
	color: #ACF0F2;
}


.bold {
	font-weight: 600;
}

.calendar-nav {
	padding: 0 1em;
	width: 100%;
	background-color: #EBA600;
	color: #FFF;
}

.caption {
	position:relative;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.date {
	padding-top: .15em;
	width: 10%;
	height: 3.3em;
	text-align: center;
	font-weight: 300;
	background-color:#ACF0F2;
	border-radius: 15%;
	float: left;
}

.event {
	padding-left: 1.5em;
	float: left;
	width: 90%
}

.hero {
	margin: 0;
	padding: 0;
	width: 84%;
	height: 375px;
	overflow: hidden;
	float: left;
}

.horz-nav {
	margin:auto;
	padding: 0 1em;
	width: 96%;
	background-color: #EBA600;
	color: #FFF;
}

.italic {
	font-style: italic;
}

.label {
    width: 25%;
    font-weight: 700;
    float: left;
}

.value {
	/*padding-left: 1.5em;*/
	float: left;
	width: 75%
}

#wrapper {
	 width: 100%;
	 /*margin: auto;*/
}

a {
	text-decoration: none;
	color: #EB7F00;
}

a.bluebg {
	color: #ACF0F2;
}


a:hover {
	color: #333;
}

div.event {
	min-height: 5em;
}

h1 {
	font-family: 'Merriweather', serif;
}

h2 {
	font-size: 2em;
	font-weight:400;
	color: #225378;
}

h3 {
	font-size: 1.5em;
	font-weight:400;
	color: #225378;
}

h2, h3, h4 {
	padding-bottom: .50em;
}

hr {
	margin: 1em auto;
	border: none;
    border-top: medium double #EB7F00;
	width: 93%;
}

p {
	line-height: 1.5em;
	padding-bottom: 1em;
}

ul, ol {
	padding-left: 2em;
    padding-bottom: 1em;
    text-indent: 0;
}

ul.calendar {
    padding: .5em;
}

li {
	padding: .4em;
	/*list-style-type: none;*/
}

li.calendar {
	display: inline;
}

li.unstyled {
	padding: .20em;
	list-style-type: none;
}


img {
	max-width: 100%;
}

/*.col20 {
	margin: 1.66%;
    padding: 1em;
    width: 20%;
    float: left;
}

.col35 {
    margin-left: 5%;
    width: 35%;
    float: left;
}

.col50 {
	margin: 0 2%;
    width: 50%;
    float: left;
}*/





