
@import url(https://fonts.googleapis.com/css?family=Merriweather:900,400,700,300);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
} 

body {
	padding: 0;
	margin: 0;
	font-family: 'Merriweather', serif;
}

header {
	padding: 5px 0 5px 20px;
	text-align: left;
}

nav {
	background-color: #666;
	font-family: 'Merriweather Sans', sans-serif;
}

figure {
	margin: 0;
	border-right: 10px solid #FFB10D;
	background-color: #FFB10D;
	width: 66%;
	float: left;
	font-family: 'Merriweather San', sans-serif;
	
}

figcaption {
	padding: 0 0 20px 0;
	float: right;
	font-size: .85em;
}

footer {
	padding: 5px;
	background-color: #666;
	clear: left;
	font-family: 'Merriweather Sans', sans-serif;
	color: white;
	text-align: center;
	clear: both;
}

/*	1) Can we review the properties in clearfix - I don't really understand what each of this properties is doing? 

	2) Will the clearfix properties/values always be the same for this fix?*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.primary {
	padding: 5px 25px 5px 25px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	float: left;
}

.primary-selected {
	padding: 5px 25px 5px 25px;
	background-color: purple;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	float: left;
}

.primary:hover {
	background-color: #FFBF5D;
	color: #fff;
	text-decoration: none;
}

/*	1) I seem to be missing the fix for how to make the background color in the club-info class fill the container?

	2) If the content in this section was going to be significantly longer than the image to the left of it, what is the preferred method for
	handling that - I wouldn't want a lot of empty space under the image */

.club-info {
	padding: 0 20px; 
	background-color: #eee;
	width: 34%;
	float: left;
}

.bold {
	font-weight: 700;
}

.assignments {
	padding: 10px 20px;
	margin: 0;
	background-color: #ddd;
	width: 30%;
	clear: left;
	float: left;
}

.member-spotlight {
	padding: 10px 20px;
	margin: 0;
	background-color: #000;
	width: 64%;
	float: right;
	color: #fff;
}

.spotlight-labels {
	padding: 25px;
	float: left;
	text-align: right;
	width: 30%;
}

.spotlight-values {
	padding: 25px;
	float: right;
	text-align: left;
	width: 70%
}

.right-align{
	text-align: right;
}

.quote {
	font-style: italic;
	clear: both;
}

.on-black {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	color: #fff;
}


/*	What is the preferred method for setting the width of the page in the wrapper? pixels or percents? */
#wrapper {
	 width: 100%;
}

#club-name {
	font-size: 3em;
	color: #333;
}

/*	Is using letter spacing on this class to make this text the same width as the <h1> text bad practice? */
#tagline {
	font-style: italic;
	letter-spacing: 0.04em;
	color: #666666;
}

h2 {
	padding-left: 3px 0 3px 0;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	color: #333; 
}

/* 1) I imported Merriweather and Merriweather Sans fonts from Google.  The default 
font sizes seemed really big - can we review ems and font-sizing - I'm using a mix of both pixels 
and ems and that's probably not a good idea? */
p {
	font-size: 13px;
}

a {
	text-decoration: none;
	color: orange;
	font-size: 12px;
}

a:hover {
	color: #333;
}





